<h1>Portafolio</h1>
<div class="contenedorCard">
    <div class="card">
        <div class="image">
            <img src="../../../assets/img/1.jpg" alt="">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore maxime numquam eum molestias magni eos dolorum ratione dolor ab non rerum tempora aliquid amet doloribus veniam dolores, natus debitis. Quo?</p>

        </div>
    </div>
    <div class="card2">
        <div class="image">
            <img src="../../../assets/img/1.jpg" alt="">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore maxime numquam eum molestias magni eos dolorum ratione dolor ab non rerum tempora aliquid amet doloribus veniam dolores, natus debitis. Quo?</p>

        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../assets/img/1.jpg" alt="">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore maxime numquam eum molestias magni eos dolorum ratione dolor ab non rerum tempora aliquid amet doloribus veniam dolores, natus debitis. Quo?</p>

        </div>
    </div>
    <div class="card2">
        <div class="image">
            <img src="../../../assets/img/1.jpg" alt="">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore maxime numquam eum molestias magni eos dolorum ratione dolor ab non rerum tempora aliquid amet doloribus veniam dolores, natus debitis. Quo?</p>

        </div>
    </div>
</div>