<div class="contenedor" id="h">
    <div class="image">
        <img src="../../../assets/img/1.jpg" alt=""> </div>
    <div class="text">
        <h2>Proyect</h2>
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magni culpa incidunt dignissimos nisi ex sit modi, distinctio voluptates! Ipsum possimus obcaecati fugiat consequatur in asperiores, totam quibusdam minus qui? Lorem ipsum dolor sit
            amet consecetur adipisicing elit. Fuga vel ab dolorem. Quis illum quam nemo voluptatibus aut aspernatur fugit, soluta maiores adipisci qui saepe perferendis porro eligendi similique ratione. Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Magni, blanditiis voluptates et molestias beatae, repellendus ea vero doloremque natus, totam corrupti ipsa temporibus dolorem quasi consectetur repudiandae tempora eius corporis.</p>
        <a href="">Lorem ipsum dolor</a>
    </div>
</div>