footer {
    margin: 0;
    width: 100%;
    height: 100%;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

* {
    background-color: #4a4a4a;
    color: #fff;
    text-decoration: none;
}

.contenedor .contenedor1 a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.contenedor .contenedor1,
.contenedor .contenedor2,
.contenedor .redes {
    width: 30%;
    margin-top: 10px;
}

.contenedor .contenedor2 {
    display: flex;
    justify-content: space-around;
}

.contenedor .contenedor2 ul {
    list-style: none;
}

.contenedor .contenedor2 ul li {
    margin: 10px;
}

.contenedor .contenedor2 ul li a {
    text-transform: uppercase;
    margin: 10px;
}

.contenedor .redes {
    margin-top: 50px;
}

.contenedor .redes a {
    margin: 20px;
}

.contenedor .redes a:hover {
    font-size: 17px;
}

footer p {
    margin: 0;
    text-align: center;
}