<footer>
    <div class="contenedor">
        <div class="contenedor1">
            <a href="">Icono</a>
            <h4>About us</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, porro, fugiat odio omnis sunt iusto saepe velit officiis repellendus a modi tempora quod ex. Inventore blanditiis assumenda nisi pariatur sed!</p>
        </div>
        <div class="contenedor2">
            <ul>
                <br>
                <li><a href="">Inicio</a></li>
                <li><a href="">Conoceme</a></li>
                <li><a href="">Portafolio</a></li>
                <li><a href="">Contactos</a></li>
            </ul>
        </div>
        <div class="redes">
            <a href="">Facebook</a>
            <a href="">LinkedIn</a>
            <a href="">Instragam</a>
        </div>
    </div>
    <p>&copy; 2021 </p>

</footer>